<ion-header>
  <ion-toolbar>
    <ion-title>Linha do Tempo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
    <ion-img src="../assets/linhadotempo1.jpg"> </ion-img>
    </ion-card>

      <ion-card>
<ion-card-content>
  Basicamente, o aplicativo Linha do Tempo lhe mostrará os maiores marcos/acontecimentos da história mundial, que começa na Pré-História, passa pela invenção da escrita e termina/continua na Idade Contemporânea (que estamos) como mostra a imagem acima.
</ion-card-content>
      </ion-card>

<ion-button color="dark" href="home"> Voltar </ion-button>
<ion-button color="dark" (click)="clicar()" > Continuar </ion-button>

</ion-content>
