<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro do Aluno </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome Completo: </ion-label>
    <ion-input type= "text" [(ngModel)]="contato.nome" placeholder="Insira o seu Nome"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Usuário: </ion-label>
    <ion-input type="text" [(ngModel)]="contato.usuario" placeholder="Usuário"> </ion-input>
  </ion-item>

    <ion-item>
        <ion-label position="floating"> Email: </ion-label>
        <ion-input type="text" [(ngModel)]="contato.email" placeholder="Email"> </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Senha: </ion-label>
        <ion-input type="text" [(ngModel)]="contato.senha" placeholder="Informe a sua senha"> </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Confirmação da Senha: </ion-label>
        <ion-input type="text" [(ngModel)]="contato.confirmacao" placeholder="Confirme a senha"> </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Colégio: </ion-label>
        <ion-input type="text" [(ngModel)]="contato.colegio" placeholder="Informe o seu colégio"> </ion-input>
    </ion-item>


        <ion-button color= "dark" (click)="salvar()"> Salvar </ion-button>
          <ion-button color="dark" href="home" > Voltar </ion-button>
</ion-content>
