<ion-header>
    <ion-toolbar>
      <ion-title> Linha do Tempo <ion-icon name="school"></ion-icon> </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
          <ion-card-header>
                   <ion-img src= "https://s1.static.brasilescola.uol.com.br/artigos/para-estudar-historia-para-enem-necessario-relacionar-os-fatos-com-outros-conteudos-59f84210cf6ce.jpg?i=https://brasilescola.uol.com.br/upload/conteudo/images/para-estudar-historia-para-enem-necessario-relacionar-os-fatos-com-outros-conteudos-59f84210cf6ce.jpg"></ion-img>

              <ion-card-title>
                Os Principais Acontecimentos na História Mundial.
              </ion-card-title>
          </ion-card-header>
            <ion-card-content>
                Aqui o aluno poderá ver, resumidamente e teoricamente, os maiores e mais importantes pontos na história da humanidade
                no mundo, que se inicia na Pré-História, passando pela invenção da escrita, grandes revoluções, guerras etc. até chegar <nav>
                  Idade Comtemporânea que vivenciamos atualmente.
                </nav>
                  <ion-button color="dark" href="contato-salvar" > Cadastrar Aluno </ion-button>
                  <ion-button color="dark" href="contato-login" > <ion-icon name="log-in"> </ion-icon> Entrar </ion-button>
                  <ion-button color="dark" href="professor-salvar" > Cadastrar Prof. </ion-button>

            </ion-card-content>
   </ion-card>
</ion-content>

<ion-footer>

</ion-footer>
